
<div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">Sign up</h1>
    <p class="centeredDescription col_4">Already signed up? You can <a href="">log in here.</a></p>
    <div class="centered_col">

      <%= form_for @user, class: "signupForm" do |f| %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "shortInput" %> <br />

        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "shortInput" %> <br />

        <%= f.label :email, "Email Address" %>
        <%= f.text_field :email, class: "shortInput" %> <br />

        <%= f.label :password %>
        <%= f.password_field :password, class: "shortInput" %> <br />

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, class: "shortInput" %> <br />

        <%= f.submit "Create account", class: "button createAccount" %>

      <% end %>

    </div><!-- end centered_col contact form -->

  </div><!-- end grid -->
</div><!-- end mainContent -->

